.timer {
    display: flex;
    justify-content: center;
    /* margin: auto; */
}
.container {
    max-width: 1200px;
    padding: 10px;
    margin: 250px auto;
}
.title {
    text-align: center;

}
.timer .timer__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: azure;
    margin: 10px;
    border: 2px solid grey;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 1px pink;
}
span {
    margin-top: 7px;
    font-size: 20px;
    font-weight: 700;
    
}
.secundomer {
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: azure;
    border: 2px solid grey;
    box-shadow: 2px 2px 2px 1px pink;
    border-radius: 25px;
}
.secundomer__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}